.wrapper
  .end-header
    %h1.end-header__icon
      = link_to "#" do
        = image_tag "logo.png", class:"address-header__icon__logo", alt:"FURIMA"

    %nav.end-header__bar
      %ol.end-header__bar__box

        %li.end-through#end-through
          会員情報
          .progress
          .progress__bars

        %li.end-active#end-active
          商品送付先住所
          .progress
          .progress__bars

        %li.end-end#end-end
          完了
          .progress
          .progress__bars

  .end-new
    .end-new__main
      .end-new__main__top
        %h2 会員情報入力完了
      .end-new__main__middle
        .end-new__main__middle__h
          %h2 登録が完了しました
        = link_to new_user_session_path do
          .end-new__main__middle__btn
            トップページに戻る
          

  = render partial: 'signin/footer'