.crumbs-container
  .crumbs
    .crumbs__link
      .crumbs__link__furima
        = link_to "#" , class: "furima-top-page" do
          フリマ
      .crumbs__link__icon
        = icon('fas', 'chevron-right')
    .crumbs__item-name
      すーぱーぷよぷよ
      .crumbs-transparent