* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

//要素の高さ指定
@mixin boxHeight($height){
  height:$height;
}

//要素の横幅指定
@mixin boxWidth($width){
  width: $width;
}

//要素の縦横指定
@mixin boxSize($height, $width){
  height: $height;
  width: $width;
}

//display: flex指定
@mixin display{
  display: flex;
}