.mypage__main__right-content
  .mypage__main__right-content__credit
    .mypage__main__right-content__credit__title
      クレジットカード情報入力
  .mypage__main__right-content__data
    .mypage__main__right-content__data__box
      = form_with url: root_path, class: "mypage__main__right-content__data__box__form" do |f|
        .mypage__main__right-content__data__box__form__display
          .mypage__main__right-content__data__box__form__display__name
            %label カード番号
          .mypage__main__right-content__data__box__form__display__required
            必須
        .mypage__main__right-content__data__box__form__num
          = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
        .mypage__main__right-content__data__box__form__display2
          .mypage__main__right-content__data__box__form__display2__name
            %label 有効期限
          .mypage__main__right-content__data__box__form__display2__required
            必須
        .mypage__main__right-content__data__box__form__month
          %select#exp_month{name: "exp_month", type: "text"}
            %option{value: ""} --
            %option{value: "1"}01
            %option{value: "2"}02
            %option{value: "3"}03
            %option{value: "4"}04
            %option{value: "5"}05
            %option{value: "6"}06
            %option{value: "7"}07
            %option{value: "8"}08
            %option{value: "9"}09
            %option{value: "10"}10
            %option{value: "11"}11
            %option{value: "12"}12
          月/
          %select#exp_year{name: "exp_year", type: "text"}
            %option{value: ""} --
            %option{value: "2019"}19
            %option{value: "2020"}20
            %option{value: "2021"}21
            %option{value: "2022"}22
            %option{value: "2023"}23
            %option{value: "2024"}24
            %option{value: "2025"}25
            %option{value: "2026"}26
            %option{value: "2027"}27
            %option{value: "2028"}28
            %option{value: "2029"}29
          年
          %br
          .mypage__main__right-content__data__box__form__display3
            .mypage__main__right-content__data__box__form__display3__name
              %label セキュリティコード
            .mypage__main__right-content__data__box__form__display3__required
              必須
          .mypage__main__right-content__data__box__form__code
            = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
            #card_token
            = submit_tag "追加する", id: "token_submit"