.mypage__main__right-content
  .mypage__main__right-content__log-out
    .mypage__main__right-content__log-out__box
      .mypage__main__right-content__log-out__box__title
        = link_to destroy_user_session_path, method: :delete do
          ログアウト
        