.app-banner
  .app-banner__inner
    .app-banner__inner__title
      誰でもかんたん、人生を変えるフリマアプリ
    .app-banner__inner__text
      今すぐ無料ダウンロード！
    .app-banner__inner__icon
      .app-banner__inner__icon__app
        = link_to "#" do
          = image_tag "App.svg", class:"image", alt:"logo"
      .app-banner__inner__icon__google
        = link_to "#" do
          = image_tag "google.png", class:"image", alt:"logo"