= link_to new_item_path , data: {"turbolinks" =>false} do
  .exhibition-btn
    .exhibition-btn__text
      出品する
    .exhibition-btn__icon
      = image_tag "icon_camera.png", class:"image", alt:"logo"
