.messages-container
  .message-list
    %ul.messages
      %li.message
        .user-image
          = image_tag "icon-03.png", class:"image", alt:"logo"
          .exhibitor
          -# if文で出品者か出品者じゃないか分けるコードにする
        .message-body
          .user-name
            y.a
          .message-content
            値下げ出来ますか？
            .icon-box
              .icon
                = icon('far', 'clock')
              .a-day-ago
                3日前

      %li.message
        .user-image
          = image_tag "icon-01.png", class:"image", alt:"logo"
          .exhibitor
            出品者
        .message-body
          .user-name
            yuki
          .message-content
            できかねます
            .icon-box
              .icon
                = icon('far', 'clock')
              .a-day-ago
                3日前